#login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login .wrapper {
  min-width: 400px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #555;
}
#login h4 {
  text-align: center;
}
#login .wrapper form {
  padding: 24px;
}

#login .wrapper form input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 12px;
}
